<div appNavMenuHover class="header__nav__menu">
  <div class="header__nav__menu-button">
    <svg id="i-megamenu-button" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 0h-4v4h4zm0 11h-4V7h4zm0 7h-4v-4h4zM11 4H7V0h4zm0 7H7V7h4zm0 7H7v-4h4zM4 4H0V0h4zm0 7H0V7h4zm0 7H0v-4h4z"></path>
    </svg>
    <p class="header__nav__menu-title">Каталог товаров</p>
  </div>
  <div class="header__nav__menu-list">
    <app-nav-menu-groups [groups]="items"></app-nav-menu-groups>
  </div>
</div>

